.coinInfo p{
    font-size: 1.3rem;
}
.coinInfo a{
    text-decoration: underline;
    color: var(--white);
}
.descHolder{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 30px;
}
.descHolder h2{
    margin-bottom: 1rem;
}